<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Testimonial</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Testimonial</li>
          </ol>
      </nav>
  </div>
</div>

<!-- Navbar & Hero End -->


        <!-- Testimonial Start -->

          <div class="container">
              <div class="text-center">
                  <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                  <h1 class="mb-5">Our Clients Say!!!</h1>
              </div>


<div class="container-fluid text-center" style="width: 300px;">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>

    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonial-item bg-transparent border rounded p-4">
          <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
          <p class="text-center">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
            diam</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle align-items-center " src="img/testimonial-1.jpg"
              style="width: 50px; height: 50px;">
            <div class="ps-3">
              <h5 class="mb-1 text-center">Client Name</h5>
              <small class="text-center">Profession</small>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item bg-transparent border rounded p-4">
          <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
          <p class="text-center">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
            diam</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle align-items-center " src="img/testimonial-2.jpg"
              style="width: 50px; height: 50px;">
            <div class="ps-3">
              <h5 class="mb-1 text-center">Client Name</h5>
              <small class="text-center">Profession</small>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-item bg-transparent border rounded p-4">
          <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
          <p class="text-center">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
            diam</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded-circle align-items-center " src="img/testimonial-3.jpg"
              style="width: 50px; height: 50px;">
            <div class="ps-3">
              <h5 class="mb-1 text-center">Client Name</h5>
              <small class="text-center">Profession</small>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  </div>




      </div>
      <!-- Testimonial End -->

