
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
              <a href="" class="navbar-brand p-0">
                  <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i><i>AKodam</i> Restoran</h1>
                  <!-- <img src="img/logo.png" alt="Logo"> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="fa fa-bars"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ms-auto py-0 pe-4">
                      <a routerLink="" class="nav-item nav-link active">Home</a> <!-- href="index.html" -->
                      <a routerLink="navbar-about"  class="nav-item nav-link">About</a><!-- href="about.html" -->
                      <a routerLink="navbar-service"  class="nav-item nav-link">Service</a><!-- href="service.html" -->
                      <a routerLink="navbar-menu"  class="nav-item nav-link">Menu</a><!-- href="menu.html" -->
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                          <div class="dropdown-menu m-0">
                              <a routerLink="navbar-booking"  class="dropdown-item">Booking</a><!-- href="booking.html" -->
                              <a routerLink="navbar-team"  class="dropdown-item">Our Team</a><!-- href="team.html" -->
                              <a routerLink="navbar-testimonial"  class="dropdown-item">Testimonial</a><!-- href="testimonial.html" -->
                          </div>
                      </div>
                      <a routerLink="navbar-contact"  class="nav-item nav-link">Contact</a><!-- href="contact.html" -->
                  </div>
                  <a routerLink="navbar-booking"  class="btn btn-primary py-2 px-4">Book A Table</a>
              </div>
          </nav>

         <!-- <app-hero></app-hero> -->

      </div>
      <!-- Navbar & Hero End -->
